<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

    <hr>
        <h1 class="page-title"><%= about %></h1>
    <hr>

    <main id="get-container">
        <div id="products-container">

            <section id="buscador">
                <label for="search-input">Buscar producto:</label>
                <input type="text" id="search-input" placeholder="Ej: Messi, Nike..." />
            </section>

            <section id="filtros">
                <label for="categoria">Filtrar por tipo:</label>
                <select id="categoria">
                    <option value="">Todos</option>
                    <option value="camiseta">Camisetas</option>
                    <option value="botines">Botines</option>
                </select>
            </section>

            <ul id="products-list">

                <% products.forEach(prod => { %>

                    <li class="product-item"

                            data-type="<%= prod.product_type.toLowerCase() %>"
                            data-name="<%= prod.desc_text.toLowerCase() %>">

                            <img src="<%= prod.image %> " alt="<%= prod.name %>" class="product-img">
                            <p>ID: <%= prod.id %> / <%= prod.product_type %> <%= prod.quality %> <%= prod.desc_text %> N°<%= prod.desc_number %> / <strong>Precio: $<%= prod.price %></strong><%= prod.active ? " / [Activo]" : " / [Inactivo]" %></p>

                            <% if(!prod.active) { %>
                                <input type="button" class="form-button form-component activate-product-btn" id="activate-product-btn" value="Activar Producto" data-id="<%= prod.id %>">
                            <% } %> 
                    </li>

                <% }) %>

            </ul>
            
        </div>
    </main>

<%- include("partials/footer.ejs") %>