<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

    <hr>
        <h1 class="page-title"><%= about %></h1>
    <hr>

    <main id="get-container">
        <div id="products-container">
            <ul id="products-list">

                <% products.forEach(prod => { %>

                    <li class="product-item">
                            <img src="<%= prod.image %> " alt="<%= prod.name %>" class="product-img">
                            <p>ID: <%= prod.id %> / <%= prod.product_type %> <%= prod.quality %> <%= prod.desc_text %> N°<%= prod.desc_number %> / <strong>Precio: $<%= prod.price %></strong><%= prod.active ? " / [Activo]" : " / [Inactivo]" %></p>

                            <% if(!prod.active) { %>
                                <input type="button" class="form-button form-component activate-product-btn" id="activate-product-btn" value="Activar Producto" data-id="<%= prod.id %>">
                            <% } %> 
                    </li>

                <% }) %>

            </ul>
        </div>
    </main>

    <script>
        const baseUrl = "http://localhost:3000/api";

        let btnsActivar = document.querySelectorAll(".activate-product-btn")
        
        btnsActivar.forEach( btn => {

            btn.addEventListener("click", async () => {
                const idProd = event.target.getAttribute("data-id");
                console.log("ID del producto a activar:", idProd);

                const confirmation = confirm("¿Quiere activar este producto?");

                if(!confirmation) {
                    alert("Acción cancelada.");

                } else {

                    let response = await fetch(`${baseUrl}/products/${idProd}`, { 
                        method: "PATCH"
                    });
                    
                    let result = await response.json();

                    if(response.ok) {
                        alert(result.message);
                        window.location.href = `http://localhost:3000/dashboard`;
                        return true;
                    } else {
                        console.error("Error: ", result.message);
                        return false;
                    }
                }
            });

        });
        
        
    </script>

<%- include("partials/footer.ejs") %>